
body {
    margin: 0 0 0 0 ;
}

div.topHeader {
    margin: 0px;
    width: 100%;
}

    div.topUp {
	    margin: 0px auto 0px auto;
        width: 900px;
        height: 30px;
    }
    
        ol.ulTienda {
            margin:0;
            margin-left: 820px;
            list-style:none;
	        padding: 10px;
        }
        
        ol.ultienda li {
            margin: 0px;
            padding: 10px;   
        }
	

div.global 
{
    position: relative;
    margin: 0px auto 0px auto;
    width: 900px;
}

div.subTop {
    margin: 8px 0px;
    width: 900px;
    height: 45px;
}
                
        div.logo 
        {
            background-image: url(../img/tutienda.png);
            float: left;
            margin: 0px;
            width: 250px;
            height: 45px;
            background-size: 250px;
            }
            
        div.buscador 
        {
            float: left;
            width: 650px;
            }
         
            
/* -----------------------------------------CONTENIDOS-----------------------------------*/
div.contenido 
{
    clear: left;
    margin:20px 0;
    width: 900px;
    height: 700px;
}
        /*--------------Index ------------------*/
        div.menuCategoria {
            float: left;
            margin: 0px;
            width: 250px;
        }
            ul.categoriaMenu 
            {   margin:0 0 0 0;
                padding: 0 0 0 0;
                }
                
            ul.categoriaMenu li    
            {
                padding: 5px 0 0 0;
                }
                
        div.tiendas 
        {
            margin:10px 0 0 248px;
            width: 650px;
            height: 550px;   
        }
        /*-------------- FIN Index ------------------*/  
        
        /* -----------------------------------------LOGIN REGISTRACION-----------------------------------*/

        div.logReg
        {   width: 600px;
            margin: 0px auto 0px auto;
            height: 800px;
            }

        div.contenidoLogin                                                                                                                  
        {   width: 300px;
            float: left;
            text-align: center;
            }
 
        div.contenidoRegistro 
        {   width: 300px;
            float: left;
            text-align: center;
            }
        /* -----------------------------------------FIN LOGIN REGISTRACION-----------------------------------*/
        
         /* -----------------------------------------MENSAJE DE CONFIR MACION REGISTRO-----------------------------------*/
        div.contenidoMensaje 
        {
            text-align: center;
            margin: 0 auto 0 auto;
            width: 900px
            
            }
        div.contenidoMensaje img 
        { 
            width: 25%;
            }
         
            