
body {
    margin: 0 0 0 0 ;
}

div.topHeader {
    margin: 0px;
    width: 100%;
}

    div.topUp {
	    margin: 0px auto 0px auto;
        width: 900px;
        height: 30px;
    }
    
        ol.ulTienda {
            margin:0;
            margin-left: 820px;
            list-style:none;
	        padding: 10px;
        }
        
        ol.ultienda li {
            margin: 0px;
            padding: 10px;   
        }
	

div.global {
    margin: 0px auto 0px auto;
    width: 900px;
}

div.subTop {
    margin: 8px 0px;
    width: 900px;
    height: 45px;
}

div.contenido {
    width: 900px;
    height: 800px;
    
}
    div.menuCategoria {
        float: left;
        margin: 0px;
        width: 150px;
        height: 600px;
        
    }
    
    div.tiendas {
        width: 750px;
        height: 600px;
        
    }

div.piePagina {
    text-align: center;
    width: 900px;
    height: 30px;
}