
body {
    margin: 0 0 0 0 ;
}

div.topHeader {
    margin: 0px;
    width: 100%;
}

    div.topUp {
	    margin: 0px auto 0px auto;
        width: 900px;
        height: 30px;
    }
    
        ol.ulTienda {
            margin:0;
            margin-left: 820px;
            list-style:none;
	        padding: 10px;
        }
        
        ol.ultienda li {
            margin: 0px;
            padding: 10px;   
        }
	

div.global 
{
    position: relative;
    margin: 0px auto 0px auto;
    width: 900px;
}

div.subTop {
    margin: 8px 0px;
    width: 900px;
    height: 45px;
}
/* -----------------------------------------CONTENIDOS-----------------------------------*/
div.contenido 
{
    margin:20px 0;
    width: 900px;
    height: 800px;
}
        div.menuCategoria {
            float: left;
            margin: 0px;
            width: 200px;
        }
            ul.categoriaMenu 
            {   margin:0 0 0 0;
                padding: 0 0 0 0;
                }
                
            ul.categoriaMenu li    
            {
                padding: 5px 0 0 0;
                }
                
        div.tiendas 
        {
            margin:10px 0 0 240px;
            width: 650px;
            height: 556px;   
        }

/* -----------------------------------------PIE PAGINA-----------------------------------*/
div.piePagina 
{   clear:left;
    margin: 0px auto 0px auto;
    text-align: center;
    width: 900px;
    height: 30px;
}

/* -----------------------------------------LOGIN REGISTRACION-----------------------------------*/
div.logReg
{   width: 400px;
    margin: 100px auto 0px auto;
    height: 600px;
}
div.contenidoLogin 
{   width: 200px;
    float: left;
    text-align: center;
    }
 
div.contenidoRegistro 
{   width: 200px;
    float: left;
    text-align: center;
    }