
body 
{
    TEXT-DECORATION: none
    background-color: #F2F2F2;
}

div.topHeader {
    background-color: #FFF;
    border-bottom: solid 1px #D8D8D8;
}
    ol.ulTienda li {
    font-family: Arial,Sans-Serif,Verdana;
    font-size: 13px;
    }
input.busquedaTop{
    width: 542px;
    height: 40px;
    font-family: Arial,Sans-Serif,Verdana;
    font-size: 18px;
    color: #585858;
}
input.buttonBusqueda{
    width: 100px;
    height: 46px;
    background-color:#0B2161;
    border: 0px;
    border-radius: 5px;
    font-family: Arial,Sans-Serif,Verdana;
    font-size: 13px;
    color: White;
}

/*-------------CATEGORIA MENU -----------------*/
ul.categoriaMenu {
    list-style: none;
    font-family: Helvetica,Arial,Sans-serif;
    font-size: 13px;
}

div.tiendas 
{
    border: solid 1px Silver;
    }
   
/*-------------LOGIN REGISTRACION -----------------*/
div.logReg a 
{
    font-family: Arial,Sans-Serif,Verdana;
    font-size: 200%;
    }
    
    div.logReg input 
    {
       width: 250px;
       height: 25px;
       margin-top: 8px;
       font-family: Arial,Sans-Serif,Verdana;
       font-size: 15px;
       color: #848484;
        }
    #main_Button1, #main_Button2
    {
        background-color:#0B2161;
        border: 0;
        width:254px;
        height: 29px;
        color: White;
        }
 
 div.contenidoMensaje p 
 {
    font-family: Arial,Sans-Serif,Verdana;
    font-size: 200%;
     }
     
 div.contenidoMensaje a 
 {
    font-family: Arial,Sans-Serif,Verdana;
    font-size: 145%;
     }      