
body 
{
    TEXT-DECORATION: none
    background-color: #F2F2F2;
}

div.topHeader {
    background-color: #FFF;
    border-bottom: solid 1px #D8D8D8;
}
    ol.ulTienda li {
    font-family: Arial,Sans-Serif,Verdana;
    font-size: 13px;
    }
input.busquedaTop{
    width: 542px;
    height: 25px;
    font-family: Arial,Sans-Serif,Verdana;
    font-size: 18px;
    color: #585858;
}
input.buttonBusqueda{
    width: 100px;
    height: 32px;
    background-color:#0B2161;
    border: 0px;
    border-radius: 5px;
    font-family: Arial,Sans-Serif,Verdana;
    font-size: 13px;
    color: White;
}

/*-------------CATEGORIA MENU -----------------*/
ul.categoriaMenu {
    list-style: none;
    font-family: Helvetica,Arial,Sans-serif;
    font-size: 13px;
}

div.tiendas 
{
    border: solid 1px Silver;
    }
   
/*-------------LOGIN REGISTRACION -----------------*/
div.logReg a 
{
    font-family: Arial,Sans-Serif,Verdana;
    font-size: 200%;
    }
    
    div.logReg input 
    {
       width: 250px;
       height: 25px;
       margin-top: 8px;
       font-family: Arial,Sans-Serif,Verdana;
       font-size: 15px;
       color: #848484;
        }
   
  div.formulario a 
{
    font-family: Arial,Sans-Serif,Verdana;
    font-size: 200%;
    }
    div.formulario input 
    {
       width: 250px;
       height: 25px;
       margin-top: 8px;
       font-family: Arial,Sans-Serif,Verdana;
       font-size: 15px;
       color: #848484;
        }
        
    #main_Button1, #main_Button2, #main_Button3
    {
        background-color:#0B2161;
        border: 0;
        width:254px;
        height: 29px;
        color: White;
        }
 
 div.contenidoMensaje p 
 {
    font-family: Arial,Sans-Serif,Verdana;
    font-size: 200%;
     }
     
 div.contenidoMensaje a 
 {
    font-family: Arial,Sans-Serif,Verdana;
    font-size: 145%;
     }
     
 /*-------------DETALLE PRODUTO -----------------*/
 div.parteB p
 {
    font-family: Arial,Sans-Serif,Verdana;
    font-size: 135%;
    font-weight:bold;
    color:#585858;
   
    }
  div.parteB a
 {
    font-family: Arial,Sans-Serif,Verdana;
    font-size: 150%;
    font-weight:bold;
    color:#610B0B;
    }
 
   .buttonDP
 {
    border-radius: 5px;
    border: 0px;
    width:350px; 
    height: 35px;
    font-family: Arial,Sans-Serif,Verdana;
    font-size: 95%;
    color:#fff;
    background-color: #4B8A08;
    }           
    
 div.vistaTiendas 
 {
     text-align: center;
     font-family:font-family: Arial,Sans-Serif,Verdana;
     font-size: 15px;
     }
 
  div.parte1 p
 {  
    font-family: Arial,Sans-Serif,Verdana;
    font-size: 100%;
    font-weight:bold;
    color:#585858;
    }        